# {{npmName}}@{{npmVersion}}

This package is an API client for the BathLARP API, generated using [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator), using [axios](https://github.com/axios/axios) as the HTTP client. It can be used in the following environments:

Environment

* Node.js
* Webpack
* Browserify

Language level

* ES5 - you must have a Promises/A+ library installed
* ES6

Module system

* CommonJS
* ES6 module system

It can be used in both TypeScript and JavaScript. In TypeScript, the definition will be automatically resolved via `package.json`. ([Reference](https://www.typescriptlang.org/docs/handbook/declaration-files/consumption.html))

## Consuming

Navigate to the folder of your consuming project and run:

```sh
npm install {{npmName}}@{{npmVersion}} --save
```
