name: Deploy

on:
  workflow_call:

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Get Next Version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          noVersionBumpBehavior: current
          noNewCommitBehavior: current
          token: ${{ github.token }}
          branch: main

      - name: Create Release
        uses: ncipollo/release-action@v1.20.0
        if: steps.semver.outputs.current != steps.semver.outputs.next
        with:
          allowUpdates: true
          draft: false
          makeLatest: true
          commit: main
          tag: ${{ steps.semver.outputs.next }}
          body: Changelog Contents

      - name: Check for API changes
        uses: dorny/paths-filter@v3
        id: changes
        if: steps.semver.outputs.current != steps.semver.outputs.next
        with:
          base: ${{ steps.semver.outputs.current }}
          filters: |
            api:
              - 'openapi.yaml'

      - name: Generate client
        uses: openapi-generators/openapitools-generator-action@v1
        if: steps.changes.outputs.api == 'true'
        with:
          generator: typescript-axios
          openapi-file: openapi.yaml
          template-dir: client_template
          command-args: --additional-properties=npmName=@bathlarp/api-client,npmVersion=${{ steps.semver.outputs.next }}

      - name: Set up node
        uses: actions/setup-node@v4
        if: steps.changes.outputs.api == 'true'
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@bathlarp'

      - name: Prep API client for publishing
        run: cd typescript-axios-client && npm install && npm run build
        if: steps.changes.outputs.api == 'true'

      - name: Publish API client to NPM
        uses: JS-DevTools/npm-publish@v3
        if: steps.changes.outputs.api == 'true'
        with:
          package: typescript-axios-client
          access: public
